AWS_PROJECT_ACCOUNT_ID=your-project-account-id-here
AWS_SSO_ROLE_NAME=your-sso-role-name-here
AWS_SSO_REGION=your-sso-region-here
AWS_SSO_START_URL=your-sso-start-url-here
ACM_CERTIFICATE_ARN=your-acm-certificate-arn-here