AWS_PRIMARY_ACCOUNT_ID=our-primary-account-id-here
AWS_PROJECT_ACCOUNT_ID=your-project-account-id-here
AWS_SSO_ROLE_NAME=your-sso-role-name-here
ROUTE53_HOSTED_ZONE_ID=your-route53-hosted-zone-here
CROSS_ACCOUNT_DNS_ROLE=your-cross-account-dns-role-here
ACM_CERTIFICATE_ARN=your-acm-certificate-arn-here